*{
    margin: 0;
}
body{
    background-image: url(background3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#box{
    height: 100vh;
    display: flex;
    flex-direction: column;
    column-gap: 0;
    justify-content: center;
    align-items: center;
}
#clock{
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 6rem;
    backdrop-filter: blur(5px);
    width: 100%;
    text-align: center;
}
#date{
    color: white;
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;

}
@media (max-width: 500px) {
    #clock{
        font-size: 3rem;
    }
    #date{
        font-size: 1.2rem;
    }
}
